<input type="hidden" name="form-name" value="contact" />
<div class="card" style="border: 3px solid white">
    <div class="card-body">
        <form [formGroup]="feedbackForm" name="feedbackForm" (ngSubmit)="onSubmit()">
            <div class="inputContainer">
                <label>Nombre:</label>
                <div class="nameInput">
                    <input formControlName="firstName" type="text" name="firstName" placeholder="Nombres">
                    <input formControlName="lastName" type="text" name="lastName" placeholder="Apellidos">
                </div>
            </div>
            <div class="inputContainer">
                <label>Email:</label>
                <input formControlName="email" type="email" name="email">
            </div>
            <div class="inputContainer">
                <label>Descripción:</label>
                <textarea rows="6" formControlName="description"></textarea>
            </div>
            <div class="inputContainer">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
            <p *ngIf="formSubmitted && feedbackForm.invalid" class="error">{{ errorMessage }}</p>
        </form>
    </div>
</div>