<div class="container-fluid pt-3">
    <div class="d-flex container flex-column ">
        <div class="container d-flex justify-content-center">
            <p>¡Gracias por haber visto mi portafolio! Te dejaré mi CV para que conozcas más sobre mi
                😄🚀
            </p>
        </div>
        <div class="d-flex justify-content-center">
            <a href={{dowloadFile}} class="btn btn-primary" target="_blank">¡Descarga mi
                CV!</a>
        </div>
        <app-rrss></app-rrss>
    </div>
</div>