<div class="container-fluid">
    <div class="d-flex container flex-column ">
        <div class="container d-flex ">
            <h2 class="">
                📨
                < Contacto />
            </h2>
        </div>
        <div class="container">
            <p>Puedes contactarme por diferentes medios puedes optar por el que más te interese o prefieras. <br>
                Estoy disponible para responder tus preguntas y discutir oportunidades emocionantes <strong>¡No
                    olvides
                    descargar mi CV al final de la sección!</strong> <br>Puedes contactarme
                de las siguientes maneras:
            </p>
        </div>
        <div class="container d-flex justify-content-center">
            <div class="container-cont">
                <h3>🤳Videollamada</h3>
                <p>
                    Si tus preferencias son las videollamadas. Puedes agendar una reunión conmigo en el siguiente
                    enlace.
                    ¡Será un gusto conocerte!
                </p>
                <div class=" text-center">
                    <div class="d-inline-flex align-items-center" style="padding-right: 35px;">
                        <p class="emoji">👉</p>
                        <a href="https://tidycal.com/crisonetto01" class="btn btn-primary" target="_blank">Agendar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex justify-content-center">
            <div class="container-cont">
                <h3>🤓 Metodos tradicionales</h3>
                <p>
                    Si prefieres los métodos tradicionales, puedes contactarme por correo electrónico o por
                    teléfono. <br>
                    ¡Estaré encantado de responder tus preguntas!
                </p>
                <div class="text-center">
                    <p>
                        <strong>Correo electrónico: </strong> <a href="mailto:cris.onetto01@gmail.com" target="_blank">
                            cris.onetto01@gmail.com
                        </a>
                    </p>

                    <p>
                        <strong>Numero telefonico: </strong>
                        <a href="tel:+569 51160254" target="_blank">+569 5116 0254</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container d-flex justify-content-center">
            <div class="container-cont ">
                <h3>Formulario de contacto</h3>
                <p>Rellena todos los campos y te enviaré un correo electrónico lo antes posible.</p>
                <app-form-contact></app-form-contact>
            </div>
        </div>
        <div class="container d-flex justify-content-center">
            <p>¡Gracias por haber visto mi portafolio! Te dejaré mi CV para que conozcas más sobre mi
                😄🚀
            </p>
        </div>
        <div class="d-flex justify-content-center">
            <a href={{dowloadFile}} class="btn btn-primary" target="_blank">¡Descarga mi
                CV!</a>
        </div>
        <app-rrss></app-rrss>
    </div>
</div>