.container-fluid {
    min-height: 100vh;
    padding-top: 11vh;
    background: rgb(31, 32, 38);
    align-items: center;
}

.Title h2 {
    color: white;
    font-size: 3rem;
    font-weight: 800;
    display: inline;
    border-bottom: 3px solid #4B5563;
    padding-bottom: 5px;
    font-family: Oswald;
}

.table-container {
    height: 300px;
    /* Ajusta la altura máxima de la tabla como desees */
    overflow-y: scroll;
}

@media (max-width: 768px) {
    .Title h2 {
        font-size: 2rem;
    }
}